*{
    box-sizing: border-box;
}

body{
    background-color:  hsl(148, 38%, 91%);
    font-family: 'Karla' , sans-serif;
  
}

    form {
      max-width: 500px;
      height:950px;
      padding: 15px;
      background-color: white;
      border-radius: 8px;
      padding:10px;
      margin:10px;
      cursor:pointer;
    }
  
    input[type="text"],
    input[type="email"]
     {
      font-size: 16px;
      border-radius: 5px;
      border: solid .5px grey;
      height:40px;
    }

    input[type="checkbox"]{
        margin-right:10px;

    }
    .radio-container{
      font-size: 16px;
      border-radius: 5px;
      border: solid .5px grey;
      height:50px;
      display: flex;
      align-items: center;
      gap:8px;
      padding:10px;
    }
  
    textarea {
      font-size: 16px;
      border-radius: 5px;
      border-style: solid .5px grey;
      height:230px;
    }
    button[type="submit"] {
      max-width: 250px;
      height: 40px;
      font-size: 18px;
      background-color: hsl(169, 82%, 27%);
      color: white;
      border-radius: 7px;
      border-style: none;
    }
  
   .error{
        font-size: 14px;
        display: none;
        color: red;
        font-size: 12px;
        margin-top: 5px;
    }
    .success-message {
      font-size: 14px;
      display: none;
    }

    .input-container{
        display: flex;
        flex-direction: column;
        gap:14px;
        margin:20px;
    }
    
  label{
    font-size:16px;
  }
  
  h1{
    padding:15px;
    font-weight: 400;
  }

  input:focus{
    border-color:hsl(169, 82%, 27%);
    background-color:  hsl(148, 38%, 91%); 
    outline: none;
 
  }

  input:hover{
   border: solid hsl(169, 82%, 27%);
  }
  
  input:invalid {
    border-color: rgb(254, 8, 8);
    background-color: rgba(230, 122, 122, 0.194);
  }


.radio-container:hover{
    border: solid hsl(169, 82%, 27%);
    background-color:  hsl(148, 38%, 91%); 
}
textarea:focus{
    background-color:  hsl(148, 38%, 91%); 
}
textarea:hover{
    border: solid hsl(169, 82%, 27%);
}

@media (min-width: 768px) {
    body {
        height: 100vh; 
        margin: 0;      
        display: flex; 
        justify-content: center;  
        align-items: center;      
       
      }
      
    form {
        width: 700px;
        height:700px;
        padding: 15px;
        background-color: white;
        border-radius: 8px;
        padding:10px;
        margin:10px;
        cursor:pointer;
   
       
      }
      
  
      .name-input {
        display: flex;  
        gap: 20px;     
      }
      
      .input-group {
        display: flex;
        flex-direction: column;  
        flex: 1;                
      }

      button[type="submit"] {
        max-width: 100%;
        height: 40px;
        font-size: 18px;
        background-color: hsl(169, 82%, 27%);
        color: white;
        border-radius: 7px;
        border-style: none;
      }
      button[type="submit"]:hover{
        background-color: hsl(169, 90%, 16%);
      }
      textarea {
        height:100px;
   }
}
